__pycache__/
.pytest_cache/
.vscode/
conversation_history/*
src/Databases/*
Knowledge/*
src/Settings/provider_config.json

!conversation_history/.gitkeep
!src/Databases/.gitkeep
!Knowledge/.gitkeep
!User_Data/.gitkeep
